############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################


*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

backend/*#
backend/ssl
backend/.idea
backend/nbproject
backend/public/uploads/*
backend/!public/uploads/.gitkeep

############################
# Node.js
############################

backend/lib-cov
backend/lcov.info
backend/pids
backend/logs
backend/results
backend/node_modules
backend/.node_history

############################
# Tests
############################

backend/testApp
backend/coverage

############################
# Strapi
############################

backend/.env
backend/license.txt
backend/exports
backend/*.cache
backend/build
backend/.strapi-updater.json



############################
# Gatsby
############################

frontend/node_modules/
frontend/.cache/
frontend/public
backend/.tmp/data.db
